* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    flex-direction: column;
    background-color: #81b29a;
}

.tip {
    font-style: italic;
    font-weight: bold;
    margin: 24px;
    font-family: 'Roboto', sans-serif;
}

.metronome {
    display: flex;
    width: 350px;
    height: 400px;
    position: relative;
}

.background-left {
    border-bottom: 400px solid #e07a5f;
    border-left: 100px solid transparent;
}

.background-center {
    flex: 1;
    background-color: #f2cc8f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-right {
    border-bottom: 400px solid #e07a5f;
    border-right: 100px solid transparent;
} 

.core {
    flex: 1;
    width: 30%;
    background-color: #f4f1de;
    margin: 24px 0;
    border: 6px dashed #e07a5f;
}

@keyframes tick {
    0%   { transform: rotate(-30deg); }
    50%  { transform: rotate(30deg);  }
    100% { transform: rotate(-30deg); }
}

.arm {
    height: 300px;
    width: 20px;
    background-color: #3d405b;
    position: absolute;
    bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 165px;
    transform-origin: bottom center;
    animation: tick 1200ms ease-in-out infinite;
}

input[type=number] {
    width: 45px;
}

label {
    text-align: center;
    opacity: .5;
    cursor: pointer;
}

label:hover {
    opacity: 1;
}

input[type=checkbox] {
    visibility: hidden;
}

.metroLabel {
    position: relative;
    left: 15px;
    margin-bottom: 15px;
    font-size: large;
}

#metronome {
    visibility: hidden;
}

button {
    padding: 15px;
    width: 200px;
    border: 1px solid yellow;
    color: yellow;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-style: bold;
}

button:hover {
    background-color: yellow;
    color: rgba(0,0,0,0.5);
    transition: background-color 1s ;
    transition: color 1s;
}